/*
=========================================================
* default template
=========================================================
*/

a {
    text-decoration: none !important;
}

p br {
    content: "";
}

.invalid-feedback {
    display: block;
    color: #ff0032;
}

.disabled:before {
    background: none;
    border: none;
}

.disabled:hover {
    color: #888ea0 !important;
    border-color: #888ea0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.alert-notify {
    display: flex !important;
    width: calc(100% - 30px);
    max-width: 450px;
    padding-right: 80px;
    color: rgba(255, 255, 255, .85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    z-index: 1072;
}

.alert-notify .alert-icon {
    position: relative;
    color: #ffffff;
    top: 5px;
    padding-right: 13px;
}

.alert-notify .alert-title {
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

.alert-notify .close {
    color: #ffffff;
    outline: none;
}

.alert-notify .close:hover {
    color: red;
}

.alert-success {
    color: #fff;
    border-color: #4fd69c;
    background-color: #4fd69c;
}

.alert-warning {
    color: #fff;
    border-color: #fc7c5f;
    background-color: #fc7c5f;
}

.alert-info {
    color: #fff;
    border-color: #37d5f2;
    background-color: #37d5f2;
}

/*
=========================================================
* others
=========================================================
*/

select {
    background: white url('../images/default/others/arrow-down.png') no-repeat right;
}

.fe-recaptcha {
    transform:scale(0.88);
    -webkit-transform:scale(0.88);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.property-thumbnail-module,
.property-thumbnail-list {
    border-top-left-radius: 0.25rem;
}

.property-thumbnail-module {
    border-top-right-radius: 0.25rem;
}

.property-thumbnail-list {
    border-bottom-left-radius: 0.25rem;
}

.img-fluid-module,
.img-fluid-list {
    width: 100%;
}

.img-fluid-module {
    height: 220px;
}

.img-fluid-list {
    height: 100%;
    max-height: 330px;
}

.card-content-blog {
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.1);
}

.card-content-blog:hover {
    opacity: .9;
}

.card-blog {
    height: 240px;
}

.img-fluid-module,
.img-fluid-detail {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-blog,
.card-house-detail {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.img-fluid-gallery {
    width: 100%;
    padding: 3px;
    border-radius: 0.4rem;
}

/*
=========================================================
* desktop screen
=========================================================
*/

@media (min-width: 992px) {
    .blog-mt--50 {
        margin-top: -50px;
    }

    .img-fluid-detail {
        height: 490px;
    }

    .img-fluid-gallery {
        height: 102px;
    }
}

/*
=========================================================
* mobile screen
=========================================================
*/

@media (max-width: 991px) {
    .filter-search .border-right {
        border-right: none !important;
    }

    .property-thumbnail-list {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.25rem;
    }

    .property-thumbnail .img-fluid-list {
        height: 220px;
    }

    .img-fluid-detail {
        height: 460px;
    }

    .img-fluid-gallery {
        height: 126px;
    }
}

@media (max-width: 767px) {
    .img-fluid-detail {
        height: 340px;
    }

    .img-fluid-gallery {
        height: 134px;
    }
}

@media (max-width: 575px) {
    .img-fluid-detail {
        height: 220px;
    }

    .img-fluid-gallery {
        height: 190px;
        padding: 0;
        margin-top: 15px;
        border-radius: 0.25rem;
    }
}
